<%- contentFor('body') %>
<section class="about-page py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 mb-4 mb-md-0">
        <img src="/images/Главная.png" alt="О компании Woodoren" class="img-fluid rounded shadow">
      </div>
      <div class="col-md-6">
        <h1 class="mb-4">О компании ЛЕСНОЙ</h1>
        <p class="lead mb-3">Мы продаем для своих клиентов продукцию высшего качества в самом широком ассортименте — это евровагонка, террасная доска, комплектующие для лестниц, блок-хаус, брус различных размеров и сортов, отделочные материалы для бани и сауны, мебель и тд.</p>
        <p>Профессиональные консультанты магазина всегда помогут определиться с выбором и оформят доставку товаров, если это необходимо.<br>
        Вы можете посетить наш фирменный магазин по адресу: г. Оренбург, ул. Чкалова, 11, предварительно разместив заказ на сайте, по телефону: +7 (ххх) ххх хх хх или заполнив свои данные для обратного звонка. В самое ближайшее время наш оператор вам перезвонит.</p>
        <p class="mt-4"><small>Нажимая на кнопку «Отправить», Вы соглашаетесь на обработку персональных данных</small></p>
      </div>
    </div>
  </div>
</section> 